    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid m-2">
          <a class="navbar-brand m-0" href="#"><img src="static/secondmain-img/logo_icon.png" class="logo rounded-5 p-2" width="40" height="40" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2  mb-lg-0">
              <li class="nav-item">
                <a class="nav-link bg-black text-white rounded-5" aria-current="page" href="#"><p>Ana Sayfa</p> </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p class="dropdown-toggle">Oluştur</p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><p>Fikir Pini OLuştur</p></a></li>
                  <li><a class="dropdown-item" href="#"><p>Pin Oluştur</p></a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex arama" role="search">
              <input class="form-control me-2 bg-secondary bg-opacity-25 rounded-5" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="d-flex align-items-center">
            <i class="fa-solid fa-bell fa-xl px-3" style="color: #5f5f5f;"></i>
            <i class="fa-solid fa-comment-dots fa-xl px-3" style="color: #5f5f5f;"></i>
            <i class="fa-solid fa-user fa-xl px-3" style="color: #5f5f5f;"></i>
            <li class="nav-item dropdown  list-unstyled">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              </a>
              <ul class="dropdown-menu dropdown-menu-end ">
                <li><a class="dropdown-item" href="#"><p>Ayarlar</p></a></li>
                <li><a class="dropdown-item" href="/"><p>Çıkış Yap</p></a></li>
              </ul>
            </li>
            </div>
          </div>
        </div>
      </nav>
    <!-- **************Navbar****************** -->