/* İndex Stillendirme */
/* Sıfırlama */
*{
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* Navbar */
/* Logodaki harflerin birbirine yaklaşması için */
.logo_letter_spacing{
    letter-spacing: -1px;
}
ul li a:hover{
    text-decoration: underline;
}
/* ******************Navbar**************************** */
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.712);
}

/* Modal içeriği stillemesi */
.modal-content {
  background-color: #fefefe;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}


/* Top-Text */
/* Navbar ve Text arasına boşluk eklemek için(bootstrap değeri yetersiz oldugu için) */
.pt-140{
    padding-top: 140px;
}
/* Yazıyı büyütmek için (bootstrap değeri yetersiz oldugu için) */
.fs-60{
    font-size: 60px;
}
/* slide-text */
.text {
  display: none;
}
.show {
  display:block;
  animation: slideUp 6s ease-in-out, fadeOut 1s 5s;
}
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
      
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-100%);

    }
  }
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* **********slide-text************ */
.resim{
    padding-inline: 10px;
    height: 0;
    z-index: -1;
}
.column img{
    border-radius: 20px;
    width: 235px;
    height: 350px;
}
.resim:nth-child(1){
    margin-top: 0;
}
.resim:nth-child(2){
    margin-top: 150px;
}
.resim:nth-child(3){
    margin-top: 250px;
}
.resim:nth-child(4){
    margin-top: 400px;
}
.resim:nth-child(5){
    margin-top: 250px;
}
.resim:nth-child(6){
    margin-top: 150px;
}
.resim:nth-child(7){
    margin-top: 0;
}
.bottom-text{
    height: 50px;
    background-color: #fffd92;
}
.gradient{
    bottom: 45px;
    height: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8016456582633054) 25%, rgba(255,255,255,0.5047268907563025) 50%, rgba(255,255,255,0.25262605042016806) 75%, rgba(255,255,255,0) 100%);
}
/* #search bölümü stillendirme */
.search{
  z-index: 1;
  background-color: #fffd92;
}
.search button,.search button:hover {
  background-color: #c31952;
  color: #fffd92;
  width: 100px;
}
.text-pink{
  color: #c31952;
}
/* #save bölümü stillendirme */
.save{
  background-color: #dafff6;
}
.save button,.save button:hover {
  background-color: #006b6c;
  color: #dafff6;
  width: 100px;
}
.text-blue{
  color:#006b6c;
}
/* #shop bölümü stillendirme */
.shop{
  background-color: #ffe2eb;
}
.shop button,.shop button:hover {
  background-color: #c32f00;
  color: #ffe2eb;
  width: 100px;
}
.text-red{
  color: #c32f00;
}
/* #bottom bölümü stillendirme */
.bottom{
  background:black url(img/bottom-1.jpg) no-repeat;
  background-size: cover;
}
.bottom-signup{
  width: 484px; 
}
.bottom-signup a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
  .terms-of-service,.bottom-signup-login,.top-signup-login{
    font-size: 12px;
}
/* footer */
.footer{
  font-size: 12px;
}
.footer li a{
  padding-inline: 4px;
}

  



