<ul class="footer nav justify-content-center position-absolute bottom-0 bg-white fw-semibold">
          <li class="nav-item">
            <a class="nav-link text-black"  href="#">Hizmet Şartları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Gizlilik Politikası</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Yardım</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">iPhone Uygulaması</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Android Uygulaması</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Kullanıcılar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Koleksiyonlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Alışveriş</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Bugün</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Keşfet</a>
          </li>
        </ul>