<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Pinterest</title>
    {% endblock title %}
    <link rel="icon" href="/static/secondmain-img/logo_icon.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- My Css -->
    <link rel="stylesheet" href="/static/secondmain-style.css">
</head>
<body>

{% block navbar %}
{% include "includes/_navbarSecondMain.html" %}
{% endblock navbar %}

{% block content %}

    <div class="container-fluid resimler">
      {% for i in resimler %}
            <a href="{% url 'detay' i.id %}"><div class="box"><img  src="{{i.resim.url}}" alt=""></div></a>
      {% endfor %}
    </div>


{% endblock content %}
<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/db7589f27b.js" crossorigin="anonymous"></script>

  </body>
</html>