{% extends "main.html" %}

{% block title %}
    <title>{{Resimler.baslik}}</title>
{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container-fluid m-2">
          <a class="navbar-brand m-0" href="/"><img src="/static/secondmain-img/logo_icon.png" class="logo rounded-5 p-2" width="40" height="40" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2  mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main/"><p>Ana Sayfa</p> </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/main/olustur/" aria-current="page">
                  <p>Oluştur</p>
                </a>
              </li>
            </ul>
            <form class="d-flex arama" action="/main/" method="GET" role="search">
              <input class="form-control me-2 bg-secondary bg-opacity-25 rounded-5" name="search"  type="search" placeholder="Search" aria-label="Search" value="{{search}}">
            </form>
            <div class="d-flex align-items-center">
            <i class="fa-solid fa-bell fa-xl px-3" style="color: #5f5f5f;"></i>
            <i class="fa-solid fa-comment-dots fa-xl px-3" style="color: #5f5f5f;"></i>
            <a href="/main/profil/"><i class="fa-solid fa-user fa-xl px-3" style="color: #5f5f5f;"></i></a>
            <li class="nav-item dropdown  list-unstyled">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              </a>
              <ul class="dropdown-menu dropdown-menu-end ">
                <li><a class="dropdown-item" href="#"><p>Ayarlar</p></a></li>
                <li><a class="dropdown-item" href="/"><p>Çıkış Yap</p></a></li>
              </ul>
            </li>
            </div>
          </div>
        </div>
    </nav>
{% endblock navbar %}


{% block content %}
<div class="container-fluid bg-white pt-5">
    <div class="row m-auto w-50 shadow rounded-5">
        <div class="col-6 m-0 p-0 ">
            <img src="{{Resimler.resim.url}}" width="100%" alt="" class="rounded-start-5">
        </div>
        <div class="col-6">
            <p class="pt-5">{{Resimler.baslik}}</p>
        </div>
    </div>
</div>
<h1 class="text-center my-3 fs-5">Bunun gibi daha fazlası</h1>
<div class="container-fluid bg-white resimler">
    {% for i in BenzerResim %}
    <div class="box position-relative">
    <a href="{% url 'detay' i.id %}">
    <img  src="{{i.resim.url}}" alt="">
    <div class="overlay"></div>
    </a>

    <button class="kaydet btn btn-danger position-absolute top-0 end-0 m-2 rounded-3 d-none z-1" data-url="{{ i.resim.url }}" data-filename="{{ i.baslik }}">
    Kaydet
    </button>
    </div>

    <span class="ms-2 mb-2 d-block">{{i.kullanici}}</span>

    
    {% endfor %}
</div>
{% endblock content %}